{% extends 'base.html' %}
{% load static %}
{% block isinya %}

<div class="container">
 <h1 class="align-center">Data Base Penjualan</h1>
 <table border="1" class="table">
    <tr>
        <th>Nomer</th>
        <th>Produk</th>
        <th>Kategori</th>
        <th>Merek</th>
        <th>Total Unit</th>
        <th>Total Penjualan</th>
    </tr>
    {% for Datapenjualan in datapenjualan %}
    <tr>
        <td>{{Datapenjualan.no}}</td>
        <td>{{Datapenjualan.produk}}</td>
        <td>{{Datapenjualan.kategori}}</td>
        <td>{{Datapenjualan.merk}}</td>
        <td>{{Datapenjualan.totalunit}}</td>
        <td>{{Datapenjualan.totalpenjualan}}</td>
    </tr>
    {% endfor %}
 </table>
</div>
 {% endblock %}
