{% extends 'base.html'%}
{% load static %}
{% block isinya %}
     <!-- HERO -->
     <section class="hero hero-bg d-flex justify-content-center align-items-center">
      <div class="container">
           <div class="row">

               <div class="col-lg-6 col-md-10 col-12 d-flex flex-column justify-content-center align-items-center">
                     <div class="hero-text">

                          <h1 class="text-white" data-aos="fade-up">UAS Framework Programming</h1>

                          <a href="/contact" class="custom-btn btn-bg btn mt-3" data-aos="fade-up" data-aos-delay="100">Hubungi</a>

                          <strong class="d-block py-3 pl-5 text-white" data-aos="fade-up" data-aos-delay="200"><i class="fa fa-phone mr-2"></i>+62 1111 2222 33</strong>
                     </div>
               </div>

               <div class="col-lg-6 col-12">
                 <div class="hero-image" data-aos="fade-up" data-aos-delay="300">

                   <img src="./static/images/orang.png" class="img-fluid" alt="orang">
                 </div>
               </div>

           </div>
      </div>
</section>


<!-- ABOUT -->
<section class="about section-padding pb-0" id="about">
 <div class="container">
      <div class="row">

           <div class="col-lg-7 mx-auto col-md-10 col-12">
                <div class="about-info">

                     <h2 class="mb-4" data-aos="fade-up">Negara Kesatuan Republik Indonesia<strong>(NKRI)</strong></h2>

                     <p class="mb-0" data-aos="fade-up">Indonesia merupakan negara terluas ke-14 sekaligus negara kepulauan terbesar di dunia dengan luas wilayah sebesar 1.910.931 km²,
                          serta negara dengan pulau terbanyak ke-6 di dunia, dengan jumlah 17.504 pulau.</a>
                     <br><br>Nama alternatif yang dipakai untuk kepulauan Indonesia disebut <strong>Nusantara.</strong></p>
                </div>

                <div class="about-image" data-aos="fade-up" data-aos-delay="200">

                 <img src="./static/images/Indonesia.png" class="img-fluid" alt="Indonesia">
               </div>
           </div>

      </div>
 </div>
</section>


<!-- PROJECT -->
<section class="project section-padding" id="project">
 <div class="container-fluid">
      <div class="row">

           <div class="col-lg-12 col-12">

               <h2 class="mb-5 text-center" data-aos="fade-up">
                    Macam macam Keragaman di
                   <strong>Indonesia</strong>
               </h2>

                <div class="owl-carousel owl-theme" id="project-slide">
                     <div class="item project-wrapper" data-aos="fade-up" data-aos-delay="100">
                          <img src="./static/images/project/alat musik.jpg" class="img-fluid" alt="project image">

                          <div class="project-info">
                               <small>Alat Musik Tradisional</small>

                               <h3>
                                    <a href="projectdetail/">
                                         <span>Gamelan</span>
                                         <i class="fa fa-angle-right project-icon"></i>
                                    </a>
                               </h3>
                          </div>
                     </div>

                     <div class="item project-wrapper" data-aos="fade-up">
                          <img src="./static/images/project/Makanan.jpg" class="img-fluid" alt="project image">

                          <div class="project-info">
                               <small>Makanan</small>

                               <h3>
                                    <a href="projectdetail/">
                                         <span>Ketupat</span>
                                         <i class="fa fa-angle-right project-icon"></i>
                                    </a>
                               </h3>
                          </div>
                     </div>

                     <div class="item project-wrapper" data-aos="fade-up">
                          <img src="./static/images/project/Raja-Ampat.jpg" class="img-fluid" alt="project image">

                          <div class="project-info">
                               <small>Pemandangan</small>

                               <h3>
                                    <a href="projectdetail/">
                                         <span>Raja Ampat</span>
                                         <i class="fa fa-angle-right project-icon"></i>
                                    </a>
                               </h3>
                          </div>
                     </div>

                     <div class="item project-wrapper" data-aos="fade-up">
                          <img src="./static/images/project/Rumah-adat.jpg" class="img-fluid" alt="project image">

                          <div class="project-info">
                               <small>Rumah Adat</small>

                               <h3>
                                    <a href="projectdetail/">
                                         <span>Tongkongan</span>
                                         <i class="fa fa-angle-right project-icon"></i>
                                    </a>
                               </h3>
                          </div>
                     </div>

                     <div class="item project-wrapper" data-aos="fade-up">
                          <img src="./static/images/project/upacara-bali.jpg" class="img-fluid" alt="project image">

                          <div class="project-info">
                               <small>Upacara Adat</small>

                               <h3>
                                    <a href="projectdetail/">
                                         <span>Ogoh ogoh</span>
                                         <i class="fa fa-angle-right project-icon"></i>
                                    </a>
                               </h3>
                          </div>
                     </div>
                </div>
           </div>

      </div>
 </div>
</section>


<!-- TESTIMONIAL -->
<section class="testimonial section-padding">
 <div class="container">
      <div class="row">

           <div class="col-lg-6 col-md-5 col-12">
               <div class="contact-image" data-aos="fade-up">

                 <img src="./static/images/Indonesiaku.png" class="img-fluid" alt="website">
               </div>
           </div>

           <div class="col-lg-6 col-md-7 col-12">
           
             <div class="quote" data-aos="fade-up" data-aos-delay="200"></div>

             <h2 class="mb-4" data-aos="fade-up" data-aos-delay="300">Pada tingkat pertama, Indonesia terbagi atas provinsi-provinsi, 
               dan setiap provinsi dikepalai oleh seorang gubernur. Saat ini Indonesia memiliki 38 provinsi. Sembilan di antaranya 
               merupakan daerah dengan status kekhususan dan/atau keistimewaan.</h2>

             <p data-aos="fade-up" data-aos-delay="400">
               <strong>Agung Darma Putra</strong>

               <span class="mx-1">/</span>

               <small>Penulis</small>
             </p>
           </div>

      </div>
 </div>
</section>

  {% endblock %}